# 특정 폴더를 ignore
/Challenge_Note/Section_01/.cache
/Challenge_Note/Section_01/dist
/Challenge_Note/Section_01/node_modules
/Challenge_Note/Section_01/package-lock.json

/Challenge_Note/Section_02/.cache
/Challenge_Note/Section_02/dist
/Challenge_Note/Section_02/node_modules
/Challenge_Note/Section_02/package-lock.json

/Challenge_Note/Section_03/.cache
/Challenge_Note/Section_03/dist
/Challenge_Note/Section_03/node_modules
/Challenge_Note/Section_03/package-lock.json

/Challenge_Note/Section_04/.cache
/Challenge_Note/Section_04/dist
/Challenge_Note/Section_04/node_modules
/Challenge_Note/Section_04/package-lock.json

/Challenge_Note/Section_05/.cache
/Challenge_Note/Section_05/dist
/Challenge_Note/Section_05/node_modules
/Challenge_Note/Section_05/package-lock.json