# 특정 폴더를 ignore
/Challenge_Note/Section_01/.cache
/Challenge_Note/Section_01/dist
/Challenge_Note/Section_01/node_modules

/Challenge_Note/Section_01/package-lock.json

/Challenge_Note/Section_02/.cache
/Challenge_Note/Section_02/dist
/Challenge_Note/Section_02/node_modules
/Challenge_Note/Section_02/package-lock.json